$primary-color: #F56B16;
$secondary-color:#F0F0F9;


header#page-header {
  color: $secondary-color;
  background-image: url(header.png);
  padding: 7px;
  border-bottom: 3px solid darken($primary-color, 10%);

   h1 {
    text-align: center;
    text-transform: uppercase;
  }
}


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}