<!DOCTYPE html>
<html>
  <head>
    <title>Best Weather</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header id="page-header">
  <h1>Best Weather</h1>
  </header> 
    <%= yield %>

  </body>
</html>
